.all-notes-container {
  display: flex;
  height: calc(100% - 53px);
}

.notes-container {
  width: 100%;
  overflow: scroll;
}

.collection-header {
  text-align: center;
  top: 0;
  position: sticky;
  margin: 0;
  padding: 15px 0;
  color: white;
  border-right: 1px solid white;
  background-color: cornflowerblue;
}
