.all-notes-container {
  display: flex;
  height: calc(100% - 53px);
}

.notes-container {
  width: 100%;
  overflow: scroll;
}

.collection-header {
  text-align: center;
  top: 0;
  position: sticky;
  margin: 0;
  padding: 15px 0;
  color: white;
  border-right: 1px solid white;
  background-color: cornflowerblue;
  z-index: 1;
}

.note-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 35px;
  font-size: 20px;
  color: white;
  flex-wrap: wrap;
  word-break: break-all;
  position: relative;
}

.note-item-delete {
  border: none;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: white;
  color: palevioletred;
}

.note-item-delete:hover {
  background-color: palevioletred;
  color: white;
}

.note-error {
  position: absolute;
  font-size: 12px;
  color: indianred;
  bottom: 0;
}
