body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  padding: 10px 20px;
  background-color: slategray;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.btn:disabled {
  color: lightgray;
}

.btn-success {
  background-color: lightseagreen;
}
